<ion-content>
  <div class="login-session ion-padding">
    <div class="heading ion-padding">
      <h1>Welcome Fashionistal</h1>
      <p>Sign in to continue</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-button ion-padding">
      <ion-button size="large" class="login-button">Log in</ion-button>
      <p>Forgot password? </p>
      <ion-button class="sighup-button" size="large" fill="outline" routerLink="/signup">Sign Up</ion-button>
    </div>
  </div>

</ion-content>
 